PORT=3005
MONGO_USERNAME=''
MONGO_PASSWORD=''
MONGO_DB_NAME=''
PIXELSETU_SECRET_SALT=''

REDIS_DB_PASSWORD=''
REDIS_DB_USERNAME=''
REDIS_DB_HOST=''
REDIS_DB_PORT=''

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

